:root{

    --mainHeaderCol: #331225;
    --mainFooterCol: #331225;
    --mainNavCol: #9a001e;
    --cardHeaderCol: #610a41;
    --mainBGCol: #ffffff;
    --lightTextCol: #fffcf9;
    --darkTextCol: #1b2b31;
    --selectedTextCol: #fff5d4;

    --textTitleFont: "Courier New", Courier, monospace;
    --mainTextFont: "Arial";

    --fontSizeS: 0.5rem;
    --fontSizeM: 1rem;
    --fontSizeL: 1.2rem;
    --fontSizeXL: 2rem;
    --fontSizeXXL: 2.5rem;

}